<ion-view>
        <ion-nav-bar>
            <ion-nav-back-button class="button-clear" style="color:black;">
                <i class="ion-chevron-left " style="color:black;"></i> Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <div class="title">Settings</div>
        <ion-header-bar class="bar-header bar-energized">
	</ion-header-bar>
	
    <ion-content id="setting_bg">
        <div class="list">
            <div class="Sitem">
                <a class="item item-icon-left" ng-click="changeNickname()">
                    <i class="icon ion-edit"></i>
                    Set Nickname
                  </a>
            </div>
            <div class="Sitem">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Check mail
                  </a>
            </div>
            <div class="Sitem">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Check mail
                  </a>
            </div>
            <div class="Sitem">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Check mail
                  </a>
            </div>
        </div>
	</ion-content>
</ion-view>